/* footer.css */
.back2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 0;

}

#foot-head {
    color: white;
    font-size: 48px;
    position: relative;
    top: 15%;
    z-index: 1;
    text-align: center;
    font-weight: 300;
    align-content: center;
    line-height: 1;
}

#overley {
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 1350px;
    height: 100%;
    z-Index: 1,
}

#foot-head span {
    font-weight: 700;
    
}

p {
    color: white;
    z-index: 1;
}

.nav-links-footer {
    list-style: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    padding-top: 10px;

}

.nav-links-footer li a {

    text-decoration: none;
    color: #827E7E;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links-footer li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: white;
    /* Accent color */
    transition: 0.3s ease;
}

.nav-links-footer li a:hover::after {
    width: 100%;
}

.nav-links-footer li a:hover {
    color: white;
}

.social-icon {
    color: #ededed;
    padding: 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 6px 10px;
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* bottom of tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}